/*font-family: 'Pacifico', cursive;
font-family: 'Open Sans', sans-serif;*/

/*colors*/
/* pastels */
/* #f2e5b0 sun-yellow*/
/* #96dbe2 skyblue*/
/* #dbc3e3 lavender */
/* #dea0f6 dark lavender*/
/* #efb5c4 baby-pink*/

/* viberent*/
/* #75d5e5 blue */
/* #e13a92 pink */
/* #9d84d8 purple*/
* {
	font-family: 'Open Sans', sans-serif;*/
}

.jumbotron {
	background-image: url('/images/cupcakes-lime-sm.jpg');
	min-height: 90vh;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
}
.position-fixed {
    background: #fafad2;
    width: 100%;
    z-index: 1;
}
.collapse.navbar-collapse {
	font-size: 1.5em;
}
.welcome {
	font-family: 'Pacifico', cursive;
	font-size: 4em;
	text-align: center;
	padding-top: 1em;
	color: #9d84d8 /* purple */
}
.gallery {
	max-width: 100%;
}
.inverted {
	max-width: 100%;
}

.items {
	padding-bottom: 2em;
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.welcome {
		font-size: 6em;
	}

}

/*.about {
	margin-left: 20%;
}
.history {
	margin-right: 20%;
}*/
.h2 {
	font-family: 'Pacifico', cursive;
	color:  #9d84d8 /* purple */
}
.h3 {
	font-family: 'Pacifico', cursive;
	color: #e13a92 /* pink */
	
}
.store {
	background: url('/images/background.png');
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.welcome {
		font-size: 9em;

	}
	.middle {
		border-right: 1px solid #dbc3e3; /* lavender */
		border-left: 1px solid #dbc3e3; /* lavender */
	}
}

svg {
	color: #f2e5b0;
	fill: currentColor;
	margin-left: 15px;
}





	

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.jumbotron {
		background-image: url('/images/cupcakes-lime-lg.jpg');
		/*min-height: 80vh;
		background-attachment: fixed;
		background-size: cover;
		background-position: 50% 50%;*/
	}

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}