/*font-family: 'Pacifico', cursive;
font-family: 'Open Sans', sans-serif;*/

/*colors*/
/* pastels */
/* #f2e5b0 sun-yellow*/
/* #96dbe2 skyblue*/
/* #dbc3e3 lavender */
/* #dea0f6 dark lavender*/
/* #efb5c4 baby-pink*/

/* viberent*/
/* #75d5e5 blue */
/* #e13a92 pink */
/* #9d84d8 purple*/
* {
	font-family: 'Open Sans', sans-serif;*/
}
/* General Styles */
.h2 {
	font-family: 'Pacifico', cursive;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	color:  #9d84d8 /* purple */
}
.h3 {
	font-family: 'Pacifico', cursive;
	color: #e13a92; /* pink */
	
}
p {
	color: #e13a92;
}

.btn {
	background: #bba64d;
	border: 1px solid #bba64d;
	border-radius: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding: .5em 3em;
	margin-bottom: .95em;
	color: #fff;
}
.btn:hover {
	color: #bba64d;
    background-color: #fff;
    border: 2px solid #bba64d;
    font-style: italic;
}
svg {
	color: #f2e5b0;
	fill: currentColor;
	/*margin-left: 15px;*/
	margin-right: 7.5px;
	margin-left: 7.5px;
	width: 45px;
    height: 45px;
    padding: 10px;
    background: pink;
    border-radius: 100px;
	
}
/* landing page */
.jumbotron {
	background-image: url('/images/cupcakes-lime-sm.jpg');
	min-height: 90vh;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
}
.welcome {
	font-family: 'Pacifico', cursive;
	font-size: 4em;
	text-align: center;
	padding-top: 1em;
	color: #9d84d8 /* purple */
}

/* navigation */
.position-fixed {
    background: #fafad2;
    width: 100%;
    z-index: 1;
}
.collapse.navbar-collapse {
	font-size: 1.5em;
}
/* store */
.store {
	background-image: url('/images/memphis-colorful.png');
}
.items {
	padding-bottom: 2em;
}
.gallery {
	border-radius: 300px;
	max-height: 200px;
	max-width: 200px;
}

/* inverted */
.inverted {
	border-radius: 300px;
	max-height: 300px;
	max-width: 300px;
}
.services {
	background:#e13a92;/* pink */
	max-width: 100%;
}
.h2-inverted {
	color: #f2e5b0; /* sun yellow */
}
.h3-inverted {
	color: #fff;
}
.p-inverted {
	color:#dbc3e3; /*lavender */
}
/* contact */
.contact {
	background-image: url('/images/macaroon.jpg');
	background-size: cover;
	background-position: 50% 50%;
	padding-top: 4em;
	padding-bottom: 4em;
}
.card {
		background: none;
		border: none;
		/*opacity: .75;*/
	}
.form-control {
	font-style: italic;
}

/* footer */
.text-logo-sm {
	padding:0;
	margin: 1em 0 -1.5em;
}
.cpyrgt {
	text-align: center;
	padding: 10px;
}
.social  {
	text-align: center;
	margin-top: -1.2em;
}
.logo-container {
	text-align: center;
}



/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.welcome {
		font-size: 6em;
	}

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.welcome {
		font-size: 9em;

	}
	.middle {
		border-right: 1px solid #dbc3e3; /* lavender */
		border-left: 1px solid #dbc3e3; /* lavender */
	}
	.gallery {
		max-height: 100%;
		max-width: 100%;
	}
	.inverted {
		max-height: 100%;
		max-width: 100%;
	}
	.cpyrgt {
		text-align: left;
	}
	.social {
		text-align: right;
		margin-top: 0;
	}
	svg {
		margin-left: 15px;
	}

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.jumbotron {
		background-image: url('/images/cupcakes-lime-lg.jpg');
	}
	.about {
		margin-top: 1em;
		margin-bottom: 1em;
	}
	.card {
		background: #fff;
		opacity: .85;
	}
	

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}