* {

}
header {
	background:  #dea0f7;
	text-align: center;
	color: white;
}
.nav-item {
	color: white;
}
.container-fluid {
	background: url('/images/backgrounds/symphony.png');
}
figure {
	margin: 0 auto;
}
.logo {
	background: #fff;
	max-height: 7em;
    min-height: 5em;
    padding: .5em;
    border-radius: 300px;
}
/*.store {
	background: url('/images/backgrounds/symphony.png');
}
.about {
	background: url('/images/backgrounds/geometry.png');
}
.history {
	background: url('/images/backgrounds/new-year.png');
}
.contact {
	background: url('/images/backgrounds/symphony.png');*/
}